[flake8]
max-line-length = 140
exclude = .git,__pycache__,old,build,dist
select = C,E,F,W,B,B950
max-complexity = 5
# Error Codes: http://pycdestyle.pycqa.org/en/latest/intro.html#configuration
ignore = F811, E231, W503, E203, E501, C901
