.vscode/*
**/__pycache__/*
**/.cache/*
**/*.pyc
**/output/**
**/.DS_Store
.envrc
.autoenv*.zsh
*.gpkg-shm
*.gpkg-wal
rpi/ui/viewer/node_modules/**
rpi/ui/viewer/dist/**
rpi/api/export/temp/**

!.gitkeep