<ng-container [ngSwitch]="tilesets.length > 0">
    <ng-container *ngSwitchCase="true">
        <div
            *ngIf="tilesets.length > 1"
            id="tile-select-container">
            <form>
                <label for="tilesetSelector">Viewing Tiles: </label>
                <select 
                    name="tilesetSelector" 
                    id="tilesetSelector"
                    [(ngModel)]="tilesetSelected"
                    (ngModelChange)="tilesetSelectedChanged()">
                    <option *ngFor="let tileset of tilesets" [ngValue]="tileset">{{ tileset.name }}</option>
                </select>
            </form>
        </div>
        <div id="map-container">
            <div id="map"></div>
        </div>
        <ng-container [ngSwitch]="exportInProgress">
            <div *ngSwitchCase="false">
                <button type="button" (click)="initiateExport()">Export PDF</button>
            </div>
            <div *ngSwitchCase="true">
                <h4>Choose Export Zoom</h4>
                <button type="button" (click)="endExport()">Cancel Export</button>
                <div class="export-info-container" *ngFor="let exportInfo of exportInfos">
                    <div class="export-sample" style="background: url('{{exportInfo.sample}}')">
                        <span class="export-sample-info">{{ 256 * exportInfo.x_tiles }} x {{ 256 * exportInfo.y_tiles }}px</span>
                        <button type="button" class="export-requestor" (click)="requestExport(exportInfo.z)">Export at z{{exportInfo.z}}</button>
                    </div>
                </div>
            </div>
        </ng-container>
        <h4>Tile URLs</h4>
        <table>
            <tr>
                <th>App</th>
                <th>Url</th>
                <th></th>
            </tr>
            <tr *ngFor="let tileUrl of tileUrls | keyvalue:keepOriginalOrder">
                <td>{{ tileUrl.key }}</td>
                <td>{{ tileUrl.value }}</td>
                <td class="url-copier" (click)="copyUrl(tileUrl.value)">Copy Url</td>
            </tr>
        </table>
    </ng-container>
    <ng-container *ngSwitchCase="false">
        <h4>There are currently no tilesets</h4>
    </ng-container>
</ng-container>