#map {
    height: 600px;
}

#tile-select-container {
    padding: 0.5em 0;
}

.url-copier {
    cursor: pointer;
}

.export-info-container {

    .export-sample {
        width: 256px;
        height: 256px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
}