@import '../../theme.less';

#export-header-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: @common-vert-spacing;
    align-items: baseline;

    #export-zoom-instruction {
        color: @brand-colour-primary;
        font-weight: bold;
    }
}

#exports-warning {
    margin: 1em 0;
    padding-right: 0.5em;
}

#export-options-container {
    margin-top: @common-vert-spacing;
}

.data-type-container {
    display: flex;
    justify-content: space-between;
}

.export-control-button {
    .primary-button;
    padding: 0.5em;
}

.data-type {
    padding-right: 0.5em;
}

.data-type-count {
    font-weight: bold;
}