<div mat-dialog-title class="dialog-title-container">
    <div class="dialog-title">Data Export</div>
    <button mat-button class="dialog-close-icon primary-button" [mat-dialog-close]="true">X</button>
</div>
<hr />
<mat-dialog-content>
    <div id="export-header-container">
        <div id="exports-warning" class="info-container">
            Exports covering larger areas can return very large numbers of features. This may take a long time and impact other users.
        </div>
    </div>
    <div id="export-options-container">
        <ng-container *ngIf="contentVisible">
            <div *ngFor="let dataType of dataTypes" class="data-type-container">
                <div>
                    <span class="data-type">{{ dataType }}</span>
                    <span *ngIf="dataTypeCountPending" class="data-type-pending">{{ dataTypeCountLoadingText | async }}</span>
                    <span *ngIf="dataTypeCounts.hasOwnProperty(dataType)" class="data-type-count">{{ dataTypeCounts[dataType] | number }}</span>
                </div>
                <div>
                    <button [disabled]="dataTypeCountPending" type="button" class="export-control-button" (click)="populateCount(dataType)">Count</button>
                    <a [download]="getExportName(dataType)" [href]="getExportLink(dataType)" (click)="exportInitiated()">
                        <button type="button" class="export-control-button">Export</button>
                    </a>
                </div>
            </div>
        </ng-container>
    </div>
</mat-dialog-content>