@import '../theme.less';

#upload-controls-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: @brand-colour-secondary;
    padding: 0.3em;
}

#uploads-warning {
    padding: 0.5em 0.3em;
    background-color: @brand-colour-attention;
    border: 1px solid @brand-colour-attention-border;
}

#uploads-container {

    #uploads-table {
        width: 100%;
        border-collapse: collapse;
    
        td {
            padding: 0 0.3em 0.5em 0.3em;
            white-space: nowrap;
        }
    }
}

#upload-progress-container {
    height: 0.3em;
    background-color: @brand-colour-attention;

    #upload-progress-bar {
        width: 0;
        height: 100%;
        background-color: @brand-colour-primary;
    }
}
