@import '../theme.less';

.files-table {
    width: 100%;
    border-collapse: collapse;

    td {
        padding: 0 0.3em 0.5em 0.3em;
        white-space: nowrap;
    }
}

.dir-label {
    background-color: @brand-colour-secondary;
    padding: 0.5em;
}