<div id="dirs-container">
    <div *ngFor="let entry of dirFiles | keyvalue" class="dir-container">
        <a [id]="stripParentDirs(entry.key)"></a>
        <div class="dir-label action-label">{{ stripParentDirs(entry.key) }}</div>
        <table class="files-table">
            <colgroup>
                <col width="100%" />
                <col width="0%" />
            </colgroup>
            <tr *ngFor="let file of entry.value">
                <td class="ellips-overflow">
                    <a [download]="stripParentDirs(file.path)" [href]="file.path" target="_blank">{{ stripParentDirs(file.path) }}</a>
                </td>
                <td>{{ formatSize(file.size) }}</td>
            </tr>
        </table>
    </div>
</div>
